<h1><%= @task.title %></h1>

<p><%= @task.details %></p>

<%= link_to 'Edit this task', edit_path %>

<%= link_to "Delete", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

<%= link_to 'Back to Task List', tasks_path %>
